* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 1920px;
    display: grid;
    grid-template-rows: 500px 2000px 300px;
    /* background-image: url('img/img-logo/logo.jpg'); */
}

.banner {
    width: 1920px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 50px 50px 400px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
}

.banner .logo {
    margin-left: auto;
    margin-right: auto;
}

.banner .menu {
    margin-left: auto;
    margin-right: auto;
}

.banner .menu ul li {
    float: left;
    list-style-type: none;
    margin-left: 10px;
}

.banner .menu a:hover {
    border: 1px solid black;
}

.banner .quang_cao {
    background-color: red;
}

.container .thuong_hieu {
    width: 100%;
    height: 160px;
    background-image: url(../img/img-logo/img-logoth.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: auto 90px;
    font-family: 'Pattaya', sans-serif;
    margin-top: 10px;
}

.container .thuong_hieu .logo_th {
    margin-left: 100px;
}

.container .ban_chay {
    margin-top: 30px;
    width: 100%;
    height: 610px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container .ban_chay .time {
    display: grid;
    grid-template-rows: 83px 527px;
}

.container .ban_chay .time .title {
    width: 100%;
    height: 60px;
    background-image: url(../img/img-logo/img-logoth.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: auto 90px;
    font-family: 'Pattaya', sans-serif;
    margin-top: 10px;
}

.container .ban_chay .time .showtime {
    background-image: url(../img/img-bc/img-showtime.jpg);
}

.container .ban_chay .time .showtime p {
    text-align: center;
    font-size: 50px;
    margin-top: 50%;
    font-family: 'Pattaya', sans-serif;
}

.container .ban_chay .mat_hang {
    position: relative;
}

.container .ban_chay .mat_hang img {
    height: 527px;
}

.container .ban_chay .mat_hang .chi_tiet {
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: rgba(124, 121, 121, 0.24);
    bottom: 20px;
}

.container .khuyen_mai {
    width: 100%;
    display: grid;
    grid-template-rows: 60px 700px;
}

.container .khuyen_mai .title {
    width: 100%;
    height: 60px;
    background-image: url(../img/img-logo/img-logoth.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: auto 90px;
    font-family: 'Pattaya', sans-serif;
    margin-top: 10px;
}